<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urbalog">
    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico_urbalog"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico_urbalog_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddBuildingActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".EndTurnActivity"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity
            android:name=".ConfigurationActivity"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".LogisticActivity"
            android:screenOrientation="sensorLandscape"></activity>
            android:name=".CityProgressionActivity"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity
            android:name=".ConfigurationActivity"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".LogisticActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".EditBuildingActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerViewActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AdminConnectionActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".PlayerConnexionActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ListBuildingsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".EndGameActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".FormActivity"
            android:screenOrientation="sensorLandscape"></activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>